<%= render 'partial/navbar' %>

<!-- ジャンボトロン -->
<div class="jumbotron row-space-0" style="margin-top: -20px; background: none;">

  <!-- カルーセル -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- リストの点 ここは上手くいっている！-->
    <% if @photos.length > 1 %>
      <ol class="carousel-indicators">
        <% @photos.each do |photo| %>
            <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
        <% end %>
      </ol>
    <% end %>

    <div class="carousel-inner" role="listbox">
      <% if @photos %>
        <% @photos.each do |photo| %>
          <div class="item <%= 'active' if photo.id == @photos[0].id %>">
            <%= image_tag photo.image.url(),style: "height:420px; width:100%; overflow:hidden;" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- 左右の矢印 -->
    <% if @photos.length > 1%>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    <% end %>
  </div>

</div>

<!-- サマリー -->
<div class="container-fluid container-listing-show">
    <div class="container">
        <div class="listing-summary row-space-3 row-space-top-3">
            <div class="row">
                <div class="col-md-3 text-center row-space-2">
                    <%= link_to user_path(@listing.user) do %>
                        <%= image_tag @listing.user.image,class:"img-circle profile-2" %>
                    <% end %>
                    <h5><%= @listing.user.name %></h5>
                </div>
                <div class="col-md-6">
                    <div class="listing-title" style="font-size:24px;">
                        <%= @listing.listing_title %>
                    </div>
                    <div class="row row-space-top-4">
                        <div class="col-sm-3 col-xs-3 text-center">
                            <i class="fa fa-home fa-3x"></i>
                            <h5><%= @listing.home_type %></h5>
                        </div>
                        <div class="col-sm-3 col-xs-3 text-center">
                            <i class="fa fa-linux fa-3x" aria-hidden="true"></i>
                            <h5><%= @listing.pet_type %></h5>
                        </div>
                        <div class="col-sm-3 col-xs-3 text-center">
                            <i class="fa fa-bug fa-3x" aria-hidden="true"></i>
                            <h5><%= @listing.pet_size %></h5>
                        </div>
                        <div class="col-sm-3 col-xs-3 text-center">
                            <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            <h5><%= @listing.breeding_years %>年</h5>
                        </div>
                    </div>
                </div>

                <!-- 予約フォーム -->
                <div class="col-md-3">
                    <div class="panel panel-default panel-show">
                        <div class="panel-heading">
                                <span style="font-size:16px;"><%= @listing.price_pernight %>円（一晩あたり）</span>
                        </div>

                        <div class="panel-body panel-real">
                            <%= form_for [@listing, @listing.reservations.new] do |f| %>
                            <!-- /listings/:listing_id/reservations というパスにPOSTリクエストを飛ばしているが、@listingの部分で、:listing_idを表現している。パスが入れ子状態になっているのは、ルーティング参照(パート9−3) -->

                              <!-- これは、予約をする時に、一緒におくる、データです。controllerで定義したreservation_paramsをここで記入している。ここで指定した各パラメータを受け取りながら、reservation#actionは起動される。 -->
                                <%= f.hidden_field :listing_id, value: @listing.id %>
                                <%= f.hidden_field :price_pernight, value: @listing.price_pernight %>
                                <%= f.hidden_field :total_price, id:'reservation_total_price' %>

                                <div class="row row-space-2">
                                  <div class="col-md-6">
                                    <label>Check In</label>
                                      <%= f.text_field :start_date, :class => 'form-control', placeholder: '開始' %>
                                  </div>

                                  <div class="col-md-6">
                                    <label>Check Out</label>
                                    <%= f.text_field :end_date, :class => 'form-control', placeholder: '終了' %>
                                  </div>
                                </div>

                                <div class="actions text-center">
                                    <%= f.submit "この日程で予約する", class: "btn btn-danger btn-wide" %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- メインコンテント -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="row-space-3">このリスティングについて</h3>
                <p><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %><%= @listing.listing_content %>
                </p>
        </div>

        <div class="col-md-4">

        </div>
    </div>


    <!-- レビュー    -->
    <div class="row">
        <div class="col-md-8">
            <h3 class="row-space-3">レビュー</h3>

        </div>

        <div class="col-md-4">

        </div>
    </div>
    <!-- google map    -->
    <div class="row">
        <div class="col-md-8">
          <h3 class="row-space-3">アクセス</h3>
          <div id="map"></div>
        </div>

        <div class="col-md-4">

        </div>
    </div>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        width: 100%;
        height: 350px;
      }
    </style>
    <!-- 近くのリスティング    -->
    <div class="row">
        <div class="col-md-8">
            <h3 class="row-space-3">近くのリスティング</h3>
            <% for listing in @listing.nearbys(10) %>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading panel-listing text-center" style="padding:0;">
                  <%= link_to(listing) do %>
                    <%= image_tag listing.photos[0].image.url(:medium) if listing.photos.length > 0 %>
                  <% end %>
                </div>

                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8 col-xs-8">
                      <%= link_to listing.listing_title, listing %><br>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <%= image_tag listing.user.image, class:"img-circle profile-1" %>
                    </div>
                    <div class="price-card">
                      <%= listing.price_pernight %> 円
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
        </div>

        <div class="col-md-4">

        </div>
    </div>
</div>

<script>


      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: <%= @listing.latitude %>, lng: <%= @listing.longitude %>},
          mapTypeId: 'terrain'
        });

        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        // Add the circle for this city to the map.
        var cityCircle = new google.maps.Circle({
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.35,
          map: map,
          center: {lat: <%= @listing.latitude %>, lng: <%= @listing.longitude %>},
          radius: 500
        });

      }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCx-aWhmvhKN_660smvvvDBw_1DvHGXK4&callback=initMap">
    </script>
